<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>my first class</h1>
        <p>this is text</p>
    </div>
    <div class="container-fluid">
        <h1> fluid container</h1>
        <p>this is text</p>
    </div>
    <div class="container p-3  my-3 border">container</div>
    <div class="container p-3  my-3 bg-dark text-white">
container 2
    </div>
    <div class="container p-3  my-3 bg-primary text-white">
        container 3
            </div>
            <div class="container-sm bg-primary">
         .container-sm
            </div>
            <div class="container-lg bg-dark">
                .container-lg
                   </div>
                   <div class="container-md bg-border">
                    .container-md
                       </div>
                       <div class="container-xl bg-alert">
                        .container-xl
                           </div>

<div class="row">
    <div class="col-sm-3">column1</div>
    <div class="col-sm-3">column2</div>
    <div class="col-sm-3">column3</div>
    <div class="col-sm-3">column4</div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-3">column1</div>
    <div class="col-md-3">column2</div>
    <div class="col-md-3">column3</div>
    <div class="col-md-3">column4</div>
</div>
<br>
<br>
<br>

<div class="row">
    <div class="col-lg-3">column1</div>
    <div class="col-lg-3">column2</div>
    <div class="col-lg-3">column3</div>
    <div class="col-lg-3">column4</div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col- xl-3">column1</div>
    <div class="col- xl-3">column2</div>
    <div class="col- xl-3">column3</div>
    <div class="col- xl-3">column4</div>
</div>
<div class="container">
    <h1 class="display-1">a</h1>
    <h2 class="display-2">a</h2>
    <h3 class="display-3">a</h3>
    <h4 class="display-4">a</h4>
    <h5>a</h5>
    <h6>a</h6>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <p class="text-muted">this is muted</p>
    <p class="text-success">this is success</p>
    <p class="text-primary">this is primary</p>
    <p class="text-info">this is info</p>
    <p class="text-warning">this is warning</p>
    <p class="text-danger">this is danger</p>
    <p class="text-dark">this is dark</p>
    <p class="text-secondary">this is secondary</p>
    <p class="text-body">this is body</p>
</div>
 
<table class="table w-75">
    <thead class="bg-danger text-white w-75">
<tr>
    <th>firstname</th>
    <th>lastnmae</th>
    <th>email</th>
</tr>
    </thead>
    <tbody>
        <tr>
            <td>naik</td>
            <td>srinu</td>
            <td>srinivas@gmail.com</td>
        </tr>
        <tr>
            <td>bablo</td>
            <td>naik</td>
            <td>pawar@gmail.com</td>
            
        </tr>
        <tr>
            <td>srinu</td>
            <td>naik</td>
            <td>nai@gmail.com</td>
        </tr>
    </tbody>

</table>
<br>
<br>
<br>
<div class="container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXEhdKn70HTYgFn31ud1lACz7qbrXtfIj2aQ&usqp=CAU" class="img-thumbnail" alt="">
</div>
 
 <br>
 <br>
 <br>
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h1>jumbotron rules</h1>
        <p>this is some text for a paragraph</p>
        <button type="button" name="button"  primary>call to action</button>
    </div>
 
</div>
<br>
<br>
<br>
<div class="container">
<div class="alert alert-success">
    <strong>success!</strong>awesome <a href="" class="alert-link">read the message</a>


</div>
</div>
<br>
<br>
<br>
<div class="container">
    <button type="button" class="btn btn-basic">basic</button>
    <button type="button" class="btn btn-primary">primary</button>
    <button type="button" class="btn btn-secondary">secondary</button>
    <button type="button" class="btn btn-dark">dark</button>
    <button type="button" class="btn btn-success">success</button>
    <button type="button" class="btn btn-danger">danger</button>
    <button type="button" class="btn btn-warning">warning</button>
    <button type="button" class="btn btn-info">info</button>
    <button type="button" class="btn btn-light">light</button>
    <button type="button" class="btn btn-link">link</button>

</div>
<br>
<br>
<br>
<div class="container">
    <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-primary">Apple</button>
    <button type="button" class="btn btn-primary">google</button>
    <button type="button" class="btn btn-primary">cognizant</button>
    <button type="button" class="btn btn-primary">cap gemini</button>

</div>
</div>
<br>
<br>
<br>
 
    <h1>h1 <span class="badge badge-primary text-success">New</span></h1>
    <h2>h2 <span class="badge badge-peimary">srinivas</span></h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>
    <br>
    <br>
    <br>
    <br>
    <div class="progress "style="height:40px">
        <div class="progress-bar bg-success" style="width:40%">40%</div>

    </div>
    <div class="progress "style="height:40px">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:40%">40%</div>

    </div>
    <br>
    <br>
    <div class="progress" style="height: 30px">
        <div class="progress-bar bg-danger " style="width:50%">free space</div>
        <div class="progress-bar bg-dark " style="width:50%">free space</div>
    </div>
<br>
<br>
<br>
<br>
<div class="spinner-border text-primary"></div>
<div class="spinner-border text-success"></div>
<div class="spinner-border text-warning"></div>
<div class="spinner-border text-info"></div>
<div class="spinner-grow text-muted"></div>
<button class="btn btn-primary"><span class="spinner-border spinner-border-sm"></span>loading...</button>
<br>
<br>
<br>
<br>
<ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">previous</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>


</ul>
<br>
<br>
<br>
<br>
<ul class="list-group">
    <li class="list-group-item active"> first item</li>
    <li class="list-group-item "> second item</li>
    <li class="list-group-item"> third item</li>

</ul>
<br>
<br>
<br>
<br>

<div class="list-group">

<a href="#" class="list-group-item list-group-item-action">first class</a>
<a href="#" class="list-group-item list-group-item-action">second class</a>
<a href="#" class="list-group-item list-group-item-action">third class</a>
</div>
<br>
<br>
<br>
<br>
<div class="card">
    <div class="card-body">
        <center><h1>srinivas</h1><center>
        <h2>naik</h2>

    </div>

</div>
<br>
<br>
<div class="card">
    <div class="card-body">
        <center><h1>pawar</h1><center>
        <h2>naik</h2>

    </div>

</div>
<br>
<br>
<div class="container d-flex flex-row justify-content-evenly">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://i.pinimg.com/originals/19/4d/d0/194dd02696845b37401c526fdcaee591.jpg" alt="">
        <div class="card-body">
            <h4 class="card-title"> hindu</h4>
            <div class="d-flex justify-content-lg-between">
                <a href="#" class="btn btn-primary">see profile</a>
                
                <p class="card-text"> sample ke bagalme</p>
               </div>
               <p class="card-text">sample text</p>
        
        </div>
        </div>
        <div class="card" style="width:400px">
            <img class="card-img-top" src="https://i.pinimg.com/originals/19/4d/d0/194dd02696845b37401c526fdcaee591.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title"> hindu</h4>
               <div class="d-flex justify-content-lg-between">
                <a href="#" class="btn btn-primary">see profile</a>
                <p class="card-text"> sample ke bagalme</p>
               </div>
                
                <p class="card-text">sample text</p>
            </div>
            </div>
            <div class="card" style="width:400px">
                <img class="card-img-top" src="https://i.pinimg.com/originals/19/4d/d0/194dd02696845b37401c526fdcaee591.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title"> hindu</h4>
                    <div class="d-flex justify-content-lg-between">
                        <a href="#" class="btn btn-primary">see profile</a>
                        <p class="card-text"> sample ke bagalme</p>
                       </div>
                   
                    <p class="card-text">sample text</p>
                </div>
                </div>

</div>
<br>
<br>
<br>
<br>
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Dropdown</button>
  <div class="dropdown-menu">
     <a class="dropdown-item" href="#" >srinu</a>
     <a class="dropdown-item" href="#" >pawar</a>
     <a class="dropdown-item" href="#"  >naik</a>
     
  </div>
</div>
<br>
<br>
<br>
<br>
<button  class=" btn btn-primary"data-toggle="collapse" data-target="#demo" type="button" name="button">Dropdown Button</button>
<div id="demo" class="collapse">this is some text</div>
<br>
<br>
<br>
<br>
<!--Navigation bar-->
<div class="container">
    <ul class="nav nav-tabs ">
        <li class="nav-item">
            <a class="nav-link active" href="#">link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">link</a>
        </li>
         
    </ul>

</div>
<br>
<br>
<br>
<br>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark">
        <a href="#" class="navbar-brand">Logo</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">list 1</a>
    
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">list 2</a>
    
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">list 3</a>
    
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">list 4</a>
    
            </li>
    
        </ul>
    </nav>
</div>
<br>
<br>
<br>
<div class="container">
    <form action="">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="enter email" name="email" value="">

        </div>
        <br>
        <form action="">
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="pwd" placeholder="enter email" name="pwd" value="">
    
            </div>
            <br>

            <button type="submit" class="btn btn-primary"name="button">submit</button>
    
    </form>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="form-group">
        <label for="comment">comment:</label>
        <textarea name="comment" id="comment" cols="50" rows="10" class="form-control"></textarea>

    </div>

</div>
<div class="container">
    <div class="form-group">
        <label for="sell">select:</label>
        <select name="sell" id="sell" class="form control">
            
        <option value="">2</option>
        <option value="">2</option>
        <option value="">2</option>
        <option value="">2</option>
        </select>
        

    </div>

</div>
<br>
<br>
<br>
<br>
<form action="">
    <div class="input-group mb-3">
         <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="my-addon">#</span>
            </div>
            <input class="form-control" type="text" name="" placeholder="username" aria-label="Recipient's " aria-describedby="my-addon">
        </div>


        </div>

    </div>
</form>
<br>
<br>
<br>
<br>
<form action="">
    <select  class="custom-select" name="" id="">
        <option selected value value="">custom select menu</option>
        <option value="porshe"> srinivas naik</option>
        <option value="porshe"> babloo</option>
    </select>
</form>
<br>
<br>
<br>
<br>
<div class="carousel slide" data-ride="carousel" id="demo">
    <ul class="carousel-indicators">
        <li data-target="demo" data-slide-to="0"class="active"></li>
        <li data-target="demo" data-slide-to="1"></li>
        <li data-target="demo" data-slide-to="2"></li>
         

    </ul>
    <div class="carousel-inner">
        <div class="carousel-item-active">
            <img src="https://i.pinimg.com/originals/19/4d/d0/194dd02696845b37401c526fdcaee591.jpg" alt="image1"height="1100" width="500">

        </div>
        <div class="carousel-item">
            <img src=" https://cdn-cf.sharechat.com/2e81675_1611372106038_sc_1611372173050_keyframe_01_03.jpg" alt="image2"height="1100" width="500">

        </div>
        <div class="carousel-item">
            <img src="https://i.pinimg.com/originals/19/4d/d0/194dd02696845b37401c526fdcaee591.jpg" alt="image3"height="1100" width="500">

        </div>

    </div>
    <a  class="carousel-control-prev" href="#demo" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
    <a  class="carousel-control-next" href="#demo" data-slide="next"><span class="carousel-control-next-icon"></span></a>
</div>
<br>
<br>
<br>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mymodal">open modal</button>
<div class="modal" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">modal heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times:</button>

            </div>
            <div class="modal-body">
                modal body..
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"data-dismiss="modal">close</button>

            </div>

        </div>

    </div>
    
</div>
<br>
<br>
<br>
<br>
<a href="#" data-toggle="tooltip" title="this is a tip">click me</a>

<br>
<br>
<br>
<br>
<a href="#" data-toggle="popover" title="popover header" data-content="some text inside the popover">hover over popover</a>
<br>
<br>

<br>
<br>
<div class="toast">
    <div class="toast-header">
        toast header

    </div>
    <div class="toast-body">
        some text inside the body

    </div>

</div>
<script>
    $(document).ready(function(){
        $('.toast').toast('show');
    });
</script>
<br>
<br>
<br>
<br>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <li class="nav-item">
        <a href="#section1" class="nav-link" >section 1</a>

    </li>
    <li class="nav-item">
        <a href="#section2" class="nav-link" >section 2</a>

    </li>

</nav>
<div id="section1" class="container-fluid bg-success " style="padding-top:70px;padding-bottom: 70px;">
    <h1>
        this is some text
    </h1>
    <p>this is one more text to make scroll </p>

</div>
<div id="section2" class="container-fluid bg-danger " style="padding-top:70px;padding-bottom: 70px;">
    <h1>
        this is some text
    </h1>
    <p>this is one more text to make scroll </p>

</div>
<br>
<br>
<br>
<br>
<span class="border"></span>
<br>
<br>
<br>
<br>
<div class="d-flex p-3 bg-success text white">
    <div class="p-2 bg-warning "> flex item text1</div>
    <div class="p-2 bg-info ">text2</div>
    <div class="p-2 bg-dark ">text3</div>


</div>
<br>
<br>
<br>
<br>
<i class="fas fa-adjust fa-10x"></i>
<br>
<br>
<br>
<div class="container mt-3"><h2>filters</h2>
<input type="text" class="form-control"id="myid" placeholder="search.."name="" value="">
<br>
<table class="table table-bordered">
<thead>
    <tr>
        <th>firstname</th>
        <th>lastname</th>
        <th>email</th>
    </tr>
</thead>
<tbody class="mytable">
    <tr>
        <td>srinu</td>
        <td>naik</td>
        <td>naik@gmail.com</td>
    </tr>
    <tr>
        <td>srinivas</td>
        <td>naik</td>
        <td>srinivas@gmail.com</td>
    </tr>
    <tr>
        <td>srinu naik</td>
        <td>pawar</td>
        <td>srinivasnai@gmail.com</td>
    </tr>

</tbody>
</table>
</div>
 
<br>
<br>
<br>
<br>
<div cl>

</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>